#URL mapping for Quiz App Demo
#Note: "NC" means case insensitive
RewriteEngine on

RewriteRule ^quizapp/users$ api/userService.php [NC]
RewriteRule ^quizapp/quizResults$ api/quizResultService.php [NC]
RewriteRule ^quizapp/quizResults/user/(\w+)$ api/quizResultService.php?username=$1 [NC]
RewriteRule ^quizapp/quizzes$ api/quizService.php [NC]
RewriteRule ^quizapp/quizzes/(\w+)$ api/quizService.php?quizID=$1 [NC]

RewriteRule ^login$ api/verifyUser.php [NC]
