body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightblue;
    padding: 3em;
}

section {
    background-color: white;
    padding: 2em;
    border: black solid 1em;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    font-size: large;
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
    background-color: whitesmoke;
}
button:hover {
    background-color: slategray;
    color: white;
}
.disabled {
    pointer-events: none;
    opacity: 0.75;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    background-color: white;
}
th,
td {
    border: thin solid grey;
    padding: 0.5em;
    text-align: left;
}
td button{
    padding: 2px 10px;
    font-size: small;
    margin: 0;
}
a{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: thin solid black;
    justify-content: center;
    padding: 0.5em;
    border-radius: 5px;
    background-color: whitesmoke;
}
a:hover{
    color: white;
    background-color: navy;
}
select{
    width: 15em;
}
#setup{
    padding: 1em;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
x
#setup span{
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
    margin: 0 0 0.5em;
}
#numResults{
    font-size: large;
    font-weight: bold;
    margin: 1em;
}
.wrapper {
    margin: 0 auto;
    width: 1200px;
    background-color: #d2f5f2;
    border: thin solid black;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.results_wrapper {
    background-color:#a6dffa;
    width: 1000px;
}

.home_wrapper{
    background-color: #fef8f0;
    width: 1000px;
}
.usernameArea{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.wrapper a{
    width: 5em;
}
.home_wrapper button{
    width: 10em;
}
.setupTopic, .setupUsername{
    margin: 1em 0;
}
.setupTopic select, .setupUsername input{
    margin: 0 1em;
}
.tab {
    float: left;
    border: solid thin grey;
    border-bottom: none;
    text-align: center;
    padding: 10px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: whitesmoke;
    font-size: small;
}
.tab:hover {
    cursor: pointer;
    background-color: white;
}
.active {
    background-color: white;
    font-weight: bold;
}

.tabContent {
    clear: left;
    border: thin solid grey;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}
.questionNumber {
    border: thin solid black;
    padding: 0.5em;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    background-color: #a6dffa;
}
.questionBody {
    line-height: 1.6;
    padding-left: 1em;
}
.questionBody input {
    margin-left: 2em;
}
.questionBody p {
    margin: 10px;
}
.yourScore {
    background-color: lightgreen;
    padding: 1em;
    border: thin solid black;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.yourStatus{
    margin-left: auto;
}
.incorrect {
    color: red;
}
.devButtonArea{
    display: flex;
    justify-content: right;
}
.developerButton{
    font-size: small;
    background-color:#a6dffa;
    margin-right: 15px;
}
.welcome{
    font-size: large;
}
.welcome span{
    font-weight: bold;
    font-size: larger;
}
.home_link{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}
.home_link a{
    width: fit-content;
    margin-left: 10px;
}
.addBorder{
    border: thin solid black;
}
.buttonHolder{
    text-align: center;
}

/* Add a black background color to the top navigation */
.menuContainer {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.menuContainer a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add a color to the active/current link */
.menuContainer a.active {
  background-color: midnightblue;
  color: white;
}

/* Right-aligned section inside the top navigation */
.menuContainer-right {
  float: right;
}

.loginMenu{
    border: medium dotted black;
    padding: 1em;
    margin-top: 1em;

}
.loginMenu a {
    margin: 10px;
}
.disabledBtn {
    pointer-events: none;
    opacity: 0.5;
}
.inputLabel{
    font-weight: bold;
    margin-right: 0.5em;
}
.inputLabelUser{
    width:  200px;
}
.inputPanel {
    background-color: azure;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.inputContainer {
    display: flex;
    flex-direction: row;
    margin: 2px;

}
.textBoxContainer{
    display: flex;
    width: 190px;
    justify-content: right;
}
.inputRequired{
    margin-right: 1em;
}
.crudTable th,td{
    width: 150px;
}
.crudTable table{
    width: 600px;
}
.crudButtonTd{
    text-align: center;
}
.crudButtonTd button {
    margin-right: 4px;
}
.crudTable tr:hover {
    background-color: lightgreen;
}

.highlighted {
    background-color: yellow;
}
.buttonArea button, .inputPanel button{
    padding: 5px 10px;
    font-size: small;
    width: 80px;
}
.inputField{
    width: 200px;
}
#btnCancel{
    margin-left: 15px;
    background-color: pink;
}
#btnCancel:hover{
    background-color: #ff6666;
}

.hidden {
    display: none;
}
